.logo {
    color: rgba(255, 255, 255, 0.90);
font-size: 22px;
font-family: Poppins;
font-weight: 600;
}
.logo::before {
    content: url(./../svg/logo.svg);
    margin-right: 20px;
}
/* footer */
.logo2::before {
    content: url(./../svg/Group\ 159.svg);
    margin-right: 10px;
}
/* footer */
.header_list,.header_list a {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-family: Poppins;
font-weight: 500;
}
.header_list {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
}
.header_login a, .header_btn {
    color: rgba(255, 255, 255, 0.78);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 40px;
}
.header_btn,.header_btn:hover {
    border-radius: 8px;
    border: none;
background: #FF6E30;
padding: 10px 25px;
cursor: pointer;
}
header {
    padding: 26px 0 58px 0;
}
.header_item1::after {
    content: url(./../svg/chevron-down.svg);
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.header_item1 {
    display: flex;
    align-items: center;
  }


  