.brands {
    
backdrop-filter: blur(25px);
}
.brands_title {
    color: rgba(255, 255, 255, 0.80);
font-size: 24px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 50px;


display: flex;
justify-content: center;
}
.brands_list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.brands_content {
    border-radius: 25px;
background: rgba(44, 53, 61, 0.20);
box-sizing: border-box;
position: relative;
transition: 0.5s;
overflow: hidden;
padding: 55px 0 35px;
margin-top: 150px;
}
.ellipse::before {
    content: '';
    position: absolute;
    height: 159px;
    width: 159px;
    border-radius: 159px;
background: rgba(255, 72, 66, 0.40);
filter: blur(70px);
display: block;
   top: -75px;
   left: -75px;
   border-radius: 159px;
}
