.logo2 {
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer_span {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.antools_footer p span {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

    width: 260px;
    display: inline-flex;
}
 footer h2 {
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 footer p {
color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .footer_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
 }
 .footer-links {
    display: grid;
    gap: 10px;
 }
 hr {
    margin: 240px 0 70px 0;
    
    border: 0.5px solid rgba(255, 255, 255, 0.15) ;
    
 }