.slider-text {
    color: rgba(255, 255, 255, 0.78);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.21px;

display: flex;
width: 400px;
flex-direction: column;
justify-content: center;


}
.slider_content {
    display: flex;
}
/* .comma_img::before {
    
    content: “;
    transform: rotate(19.166deg);
    position: relative;
    top: -75px;
    left: -75px;

} */
.comma_img {
    position: relative;
    top: 110px;
    left: 48px;
}
.slider_dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.slider i {
    color: #FFFFFF47;
    cursor: pointer;
    font-size: 40px;
    transition: 0.5s;
}
.slider i:hover {
    color: #FF6E30;
    scale: 1.2;
}
.slider_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider_dots li {
    width: 44px;
height: 6px;

border-radius: 4px;
background: #283036;
cursor: pointer;

}
.slider_dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    padding: 0;
    margin: 0 auto;
    margin-top: 100px;
}
.slider_dots .dots_active {
    background: #FF6E30 ;
}