@import "./allheader.css";
@import "./tools.css";
@import "./preview.css";
@import "./brands.css";
@import "./newcomer.css";
@import "./slider.css";

.container {
    width: 1140px;
    margin: 0 auto;
}
body {
    background-color: #1E252B;
    
}
input {
    outline: none;

}
a {
    text-decoration: none;
}
.preview {
    background: url(../../img/Illustration.png) right no-repeat;
    padding: 70px;
}

