.tools_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.tools_title {
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 48px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: 130%;
margin-bottom: 25px
}
.tools_text {
    color: rgba(255, 255, 255, 0.55);
text-align: center;
font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: 30px;
}
.tools_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    row-gap: 100px;
    margin-top: 110px;
}
/* .tools_item {
    margin-top: 110px;
} */
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.tools_item-title {
    margin: 0;
    color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.tools_img {
    display: contents;
    margin-right: 30px;
}
.tools_item-subtitle {
    color: rgba(255, 165, 55, 0.55);
font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.tools_block-img {
    margin-right: 30px;
}
.tools_item>p {
    color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 30px;
/* margin-top: 30px;
margin-right: 15px; */
}
/* .tools_item {
    /* margin-right: 25px; */
    /* padding-right: 30px; */

.tools_item-btns,.tools_item-btns svg,.tools_item-btns button {
    display: flex;
    border-radius: 8px;
    background:rgba(0, 0, 0, 0);
border: none;

}
.tools_item-btns button {
    padding-right: 15px;
}
.tools_link{
    display: flex;
    align-items: flex-end;
}
.tools_item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tools_btn {
    border-radius: 8px;
background:rgba(0, 0, 0, 0);
border: none;
color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 9px 35px;
margin-right: 15px;
}
.tools_loadmore-btn {
    border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;

color: #FF6E30;
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;

padding: 17px 38px;
display: flex;
justify-content: center;
margin: 0 auto;
margin-top: 135px;
cursor: pointer;
}
.tools_item:hover {
    border-radius: 15px;
background: rgba(40, 48, 54, 0.60);
backdrop-filter: blur(25px);
transition: 0.8s;
box-sizing: border-box;
position: relative;
overflow: hidden;

transform:scale3d(1.1,1.1,4) ;
cursor: pointer;
}
.tools_item {
    padding: 28px;
    border-radius: 15px;
    position: relative;
}
.ellipse1::before {
    content: '';
    position: absolute;
    height: 159px;
    width: 159px;
    border-radius: 159px;

filter: blur(70px);
display: block;
   top: -75px;
   right: -75px;
   border-radius: 159px; }

   .ellipse1:hover {
    content: '';
    position: absolute;
    height: 159px;
    width: 159px;
    border-radius: 159px;
background: rgba(255, 72, 66, 0.40);
filter: blur(70px);
display: block;
   top: -75px;
   right: -75px;
   border-radius: 159px;
   }

   .tools_heart:focus path {
     fill: #FD3B41;
     outline-color: transparent;
     box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
     cursor: pointer;

     

   }
   .tools_btn:hover {
    background: #FF6E30;
    color: #FFF;
    transition: 0.8s;
   }
   .tools_heart:hover {
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);

   }
